// // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (max-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (max-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (max-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (max-width: 1400px) { ... }

@import "styles";

// ------------- HEADER ------------- //

@media (max-width: 992px) {
    header {
        .nav__logo {
            width: 30%;
        }
        .nav__main {
            width: 70%;
            .nav__button {
                width: 180px;
                height: 50px;
                a {font-size: $text-small;}
                p:active:after { 
                    width: 100%; 
                    left: 0; 
                }
            }
        }
    }
}

@media (max-width: 765px) {

    // ------------- MOBILE -- HEADER ------------- //

    header {   
        display: none;
    }
    .m_header_close {
        height: 70px;

        a {
            display: none;
        }
        .m-header__nav-logo {
            display: flex;
        }
        .m-header__nav-button {
            transform: rotate(0deg);
            transition: .3s ease;
            .m-head-btn-el:nth-child(1) {
                transform: translateY(0) rotate(0deg);
                transition: .3s ease;
            }
            .m-head-btn-el:nth-child(2) {
                opacity: 1;
                transform: translateZ(15px) rotate(0deg);
                transition: .5s ease;
            }
            .m-head-btn-el:nth-child(3) {
                transform: translateY(0) rotate(0deg);
                transition: .3s ease;
            }

        }
    }
    .m_header_open {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        a {
            display: flex;
            cursor: pointer;
        }
        .m-header__nav-image {
            display: flex;
            cursor: pointer;
        }
        .m-header__nav-button {
            transform: rotate(90deg);
            transition: .3s ease;
            .m-head-btn-el:nth-child(1) {
                transform: translateY(35px) rotate(45deg);
                transition: .3s ease;
            }
            .m-head-btn-el:nth-child(2) {
                opacity: 0;
                transition: .1s ease;
            }
            .m-head-btn-el:nth-child(3) {
                transform: translateY(0) rotate(-45deg);
                transition: .3s ease;
            }
        }  
    }

    .header__mobile {
        width: 100%;
        display: flex; 
        position: fixed;
        transition: .2s ease-in-out;
        font-size: $text-medium;
        background-color: none;
        backdrop-filter: blur(4px);
        z-index: 99999999;

        background-color: rgba(255, 255, 255, 0.95);

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        .m-header__nav-logo {
            width: 100px;
            height: 70px;
            display: flex; justify-content: center; align-items: center;
            position: fixed;
            left: 10px;
            z-index: 9999;
            img {
                z-index: 9999;
            }
        }
        .m-header__nav-button {
            width: 100px;
            height: 70px;
            position: fixed;
            right: 0;
            cursor: pointer;
            display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;

            .m-head-btn-el {
                width:  60px;
                height: 5px;
                background-color: $text-main;
                border-radius: 3px;
            }
        }
        .m_header_mobile_nav_close {
            width: 100%;
            height: 70px;
        
        }
        .m_header_mobile_nav_open {
            width: 100%;
            height: 100vh;
        }
        .header__nav-mobile {
            width: 100%;
            transition: .3s ease;
            display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
        }

    }

}

// ------------- HOME ------------- //


@media (max-width: 765px) {
    .home__section {
        height: 1000px;
        grid-template: 1.3fr 0.7fr / 1fr;
        .home__image {
            width: 100%;
            height: 100%;
            order: 1;
            background-size: 500px;
        }
        .home__text {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            order: 2;
            align-items: center;
            text-align: center;
        }
    }

}

// ------------- SHOP ------------- //

@media (max-width: 992px) {
    .shop__section {
        height: 1200px;
        display: flex; flex-direction: column;
        .shop__title {
            height: 150px;
        }
        .shop__main {
            height: 1050px;
            grid-template: 1fr 1fr / 1fr;
        }
    }  
}

@media (max-width: 576px) {
    .shop__section {
        height: 1300px;
        display: flex; flex-direction: column;
        .shop__title {
            height: 150px;
        }
        .shop__main {
            height: 1150px;
            .shop__product {
                width: 320px;
                height: 380px;
                background-size: 250px;
                .shop__product-text {
                    height: 200px;
                    width: 150px;
                    margin-left: auto; margin-right: 1.2em; margin-top: 1.2em;
                    h6 {
                        font-size: $text-large;
                        font-weight: 500;
                    }
                    p {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .shop__product-purchase {
                    width: 60px;    
                    height: 60px;
                    border-radius: 18px;
                    margin-left: auto; margin-top: 5em; margin-right: 1.5em;
                    img {
                        transform: scale(0.7);
                    }
    
                }
            }
        }
    }  

}

// ------------- APPS ------------- //

@media (max-width: 992px) {
    .apps {
        height: 600px;
        grid-template: repeat(3, 1fr) / 1fr;
        .apps__image {
            img {display: none;}
            background-size: 400px;
            background-position: center;
            background-repeat: no-repeat;
        }
        .app_first {
            background-image: url(../img/apps/apps_mobile-top.svg);
        }
        .app_second {
            background-image: url(../img/apps/apps_mobile-bottom.svg);
        }
    }
}

@media (max-width: 380px) {
    .apps {
        .apps__image {
            background-size: 300px;
        }
    }
}

// ------------- FEATURE -- CENTERED -- ACTIONS ------------- //

@media (max-width: 1400px) {
    .feature__actions {
        height: 1000px;
        .feature__actions-content {
            background-position: bottom;
            .feature__actions-text {
                width: 80%;
                height: 50%;
                display: grid; grid-template: repeat(2, 1fr) / repeat(2, 1fr); align-items: center;
                .feature__actions-item {
                    width: 100%;
                    height: 80%;
                    display: flex; justify-content: center; align-items: center;
                    p {
                        font-weight: 400;
                        display: flex; align-items: center;
                        img {
                            margin-right: 0.3em;
                        }
                    }
                }
                .feature__actions-item:nth-child(2) {
                    align-items: center;
                }
                .feature__actions-item:nth-child(3) {
                    align-items: center;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .feature__actions {
        height: 1400px !important;
        .feature__actions-content {
            background-position: bottom;
            background-size: 350px;
            .feature__actions-text {
                width: 100%;
                height: 65%;
                display: grid; grid-template: repeat(4, 1fr) / 1fr; align-items: center;
            }
        }
    }

}

// ------------- FOOTER ------------- //

@media (max-width: 992px) {
    footer {
        width: 100%;
        height: 500px;
        .footer__col-1 {
            grid-template: 1fr / 0.5fr 1.6fr 0.9fr;
            grid-gap: 2em;
            .footer__company { 
                h1 {
                    font-size: 28px; 
                    font-weight: 900; 
                    margin-bottom: 0.3em; 
                }
                p {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
            .footer__nav {
                .footer__nav-col {
                    h2 {
                        margin-bottom: 0.8em;
                        font-size: $text-smaller;
                        font-weight: 400;
                    } 
                    p {
                        margin-bottom: 0.8em;
                        font-size: $text-smaller;
                        font-weight: 300;
                    }
                }
            }
            .footer__social-media {
                grid-template: 0.2fr 1.8fr / 1fr;
                .footer__social-media-text {
                    h1 {
                        font-weight: 600;
                        font-size: 28px;
                    }
                }
                .footer__social-media-icons {
                    height: 70%;
                    display: grid; grid-template: repeat(2, 1fr) / repeat(3, 1fr); 
                    align-items: center; justify-items: center;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}

// MOBILE FOOTER

@media (max-width: 768px) {
    footer {
        width: 100%;
        height: 1500px;
        .footer__col-1 {
            width: 80%;
            height: 1400px;
            margin: 0 auto;
            display: grid;
            grid-template: 0.5fr 1.6fr 0.9fr / 1fr;
            grid-gap: 3em;
            align-content: center; justify-items: center;
            .footer__company {
                width: 50%; height: 100%;
                display: flex; flex-direction: column; justify-content: center; align-items: center; 
                text-align: center;
                h1 {
                    font-size: 36px; 
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
            .footer__nav {
                width: 100%; height: 100%;
                display: grid;
                grid-template: 1fr 1fr 1fr / 1fr;
                grid-gap: 2em;
                .footer__nav-col {
                    width: 100%; height: 100%;
                    display: flex; flex-direction: column;
                    h2 {
                        margin-bottom: 0.8em;
                        font-size: $text-small;
                        font-weight: 400;
                    } 
                    p {
                        margin-bottom: 0.8em;
                        font-size: $text-small;
                        font-weight: 300;
                    }
                }
            }
            .footer__social-media {
                width: 100%; height: 100%; 
                display: grid; grid-template: 0.4fr 1.6fr / 1fr;
                .footer__social-media-text {
                    h1 {
                        font-weight: 600;
                        font-size: 36px;
                    }
                }
                .footer__social-media-icons {
                    height: 70%;
                    display: grid; grid-template: repeat(2, 1fr) / repeat(3, 1fr); align-items: center; justify-items: center;
                }
            }
        }
        .footer__col-2 {
            width: 80%;
            margin: 0 auto;
            display: flex; justify-content: center; align-items: center;
            height: 40px;
        }
    }
         

}

